.aboutus-para{
    color: white;
    font-family: Arial, sans-serif;
    font-size: 25px;
    line-height: 1.4;
    text-align: justify;
}
.p-down{
    margin-top: 20px;
    width: 95%;
}
.about-head{
    text-align: center;
    font-size: 45px;
    color: white;
}
.abt-img{
    margin-left: -70px;
    width: 700px;
    height: 370px;
}

@media only screen and (min-width: 1200px){
    .grid{
        margin-top: 50px;
        display: grid;
        grid-template-columns: auto auto;
    }
}
.paras{
    width: 85%;
}
@media only screen and (max-width: 600px) {
    .paras{
        width: 100%;
    }
.about_main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.abt-img{
    margin-left: 5px;
    
}
.p-down{
    margin-top: 20px;
    width: 100%;
}
    .grid{
    display: flex;
    flex-direction: column;
}
}