.main-heading{
    font-family: "Lusitana", serif;
    text-align: center;
    font-size: 9em;
    color: white;
    
  }
  
  .para{
    margin: auto;
      font-size: 40px;
      font-weight: 300;
      text-align: left;
      width: 75%;
      color: white;
  
    }

    @media only screen and (max-width: 600px) {
      .main-heading{
        font-size: 7em;
      }
      .para{
        font-size: 34px;
        width: 105%;
      }
    }    