@tailwind base;
@tailwind components;
@tailwind utilities;

.label {
  @apply p-4 text-lg flex flex-col min-w-80;
}

.label input {
  @apply h-10 rounded-xl text-black p-4;
}
.label select {
  @apply text-black h-10 rounded-xl px-4;
}
.errors-text {
  @apply text-red-500 text-base mt-2;
}

@layer {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .animate {
    animation: fadeIn 2s ease-in-out;
  }
  .none {
    display: none;
  }
}
